[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"boto3" = "*"
click = "*"
halo = "*"
colored = "*"
inquirer = "*"

[dev-packages]

[requires]
python_version = "3.7"
